.logout-button {
  display: inline-block;
  padding: 4px 12px;
  font-size: 16px;
  margin: 10px;
  width: 100px;
  text-align: center;
  vertical-align: middle;

  background-color: #8B0000;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
}

 .logout-button :hover{
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   color: #8B0000;
   background-color: white;
 }

 h1 {
   color: black;
 }
