/*@-webkit-keyframes animateright {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@keyframes animateright {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}*/

.playlist-table{
  /*-webkit-animation-name: animateright;
  -webkit-animation-duration: 1s;*/
  background-color: #121314;
  height: 100%;
}

.playlist-table-image {
  height: 35%;
}

.playlist-table-title{
  color: white;
  font-size: 36px;
  position: relative;
  top: 70%;
  left: 2%;
}

.playlist-table table {
  width: 90%;
  text-align: left;
  padding: 25px;
  border-collapse: collapse;
  margin: 0 auto;
  min-height: 300px;
  font-size: 14px;
  border-spacing: 0;
}

.playlist-table-details span{
  color: #8B0000;
}

th {
  color: #87888B;
}

.playlist-table tr {
  border-bottom: 1px solid #222326;
}

td {
  text-overflow: ellipsis;
}

.playlist-table-details {
    padding: 25px;
    border-bottom: 1px solid #222326;
    width: 95%;
    margin: 0 auto;
}

.playlist-table-details button {
  float: right;
  margin-right: 10px;
}

.unfollow-button {
  background-color: green;
}
