.recommended-songs {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recommended-songs-header {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222326;
  width: 100%;
}

.recommended-songs ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
}

.recommended-songs-list {
  padding-top: 20px;
}

.song-details {
  display: flex;
  flex-direction: column;
  background-color: #222326;
  padding: 5%;
}

.song-index-item {
  font-size: 75%;
  display: flex;
  flex-direction: column;
  background-color: #222326;
  overflow: hidden;
  min-height: auto;
  min-width: 200px;
  margin-right: 10px;
}

.song-index-item-image {
  height: 200px;
  width: auto;
}

.song-index-item-title {
  font-weight: bold;
}

.song-index-item-artist {
  color: #86878A;
}

.song-index-item-album {
  color: #86878A;
}

.song-actions{
  display: flex;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
  opacity: 0;
}

.song-actions:hover {
  transition-duration: 0.4s;
  opacity: 0.7;

  .play-song, .add-song-to-queue {
    cursor: pointer;
    opacity: 1;
    width: auto;
    height: auto;
  }
}
