// Place all the styles related to the api/search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-bar input{
  width: 100%;
}
.search ul{
  padding-top: 10px;
}

.search-item{
  padding-top: 10px;
}
.search-bar{
  height: 40px;
display: flex;
align-items: center;
width: 100%;
}

.search li {
  background-color: #2E2F33;
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 12px;
  align-items: center;
  border-bottom: 1px solid #222326;

  &:hover{
    background-color: #46484E;
  }
}

.search img{
  height: 90px;
  width: 90px;
  margin: 10px;
}

.details {
  width: 88%;
display: flex;
flex-direction: column;
margin-left: 5px;
}

.search-image {
  height: 75px;
  width: 115px;
}

.search-item span {
  color: #a2a3a5;
}
