.sidebar {
  /* min-height: 595px; */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100px;
  background-color: #1c1c1f;
}

.logo {
  height: 95px;
  width: 159%;
  top: 22px;
  position: relative;
  right: 28px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebar li img {
  height: 50px;
  width: auto;
  display: block;
}

.sidebar li p {
  margin-top: 6px;
  text-align: center;
}


.sidebar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
  padding-bottom:10px;
}

@media screen and (max-height: 500px) {
    .sidebar li img {
      height: 20px;
      width: 25%;
    }

    .sidebar-item {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .sidebar-item p {
      font-size: 80%;
    }
}
