.default-hidden{
  position: absolute;
  display: none;
  background-color: #3E3E40;
  color: #95969B;
  font-size: 12px;
  width: 200px;
  min-height: 100px;
  &:hover {
    display:block;
  }
}

.song-actions-2:hover {
  .default-hidden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
  }
}

.default-hidden li {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  &:hover{
    background-color: #87888B;
  }
}

.default-hidden li span {
  margin-left: 20px;

}

.default-hidden ul {
  background-color: #3e3e40;
  max-height: 300px;
}

.create-playlist-form{
  height: 100%;
}

.createPlaylist button {
  height: 50px;
  width: 100%;
}

.default-hidden-2{
  position: absolute;
  height: 150px;
  background-color: #3E3E40;
  color: #95969B;
  font-size: 12px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.back-button-form {
  background-color: #2E2F33;
  display: flex;
  // justify-content: space-between;
  // justify-content: flex-start;
  float: left;
}

.default-hidden-2 li{
  cursor: pointer;
}
