.default-hidden{
  position: absolute;
  display: none;
  background-color: #3E3E40;
  overflow-y: scroll;
  color: #95969B;
  font-size: 16px;

  &:hover {
    display:block;
  }
}

.song-actions-2:hover {
  .default-hidden{
    transition: all 2s ease;
    display: block;
    height: auto;
  }
}

.default-hidden li {
  margin: 10px;
  cursor: pointer;

  &:hover{
    background-color: #87888B;
  }
}

.default-hidden ul {
  display: flex;
  flex-direction: column;
}
