.user-profile{
  background: #121314;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
}

.user-profile-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-profile-details {
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #222326;
}

.user-profile-picture {
  height: 125px;
  width: 125px;
  border-radius: 63px;
}

.user-profile-name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-profile-name span {
  color: #696A6D;
  font-size: 100%;
}

.user-profile-name h1 {
  font-size: 300%;
}
/*.user-profile-header {
  display: flex;
  height: 130px;
  border-bottom: 1px solid #222326;
  align-items: center;
  font-size: 48px;
  margin-top: 2px;
  margin-bottom: 9.5px;
}*/

/*.user-profile-details {
  display: flex;
  flex-direction: column;
}*/

/*.user-profile-picture {
  height:100%;
  width: auto;
}*/
